:root {
    --oscuro: #111827;
    --semi-oscuro: #23344d ;
    --azul-oscuro: #2f4b6e;
    --azul: #4c86aa;
    --celeste: #4cc2d1;
    --gris: #6b7ca0;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: var(--gris);
    font-family: monospace;
    background: #141e30;
    background: -webkit-linear-gradient(to right, #243b55, #141e30);
    background: linear-gradient(to right, #243b55, #141e30);
  }
  
  ::selection {
    background-color: rgb(148, 236, 229);
  }
  
  section {
    width: 90%;
    margin: auto;
  }
  
  .col
   {
    border-left: 2px solid var(--azul-oscuro);
    border-right: 2px solid var(--azul-oscuro);
    border-bottom: 4px solid var(--azul-oscuro);
  }
  
  /* Navbar */
  
  .navbar {
    background-color: #111827;
  }
  
  .nav-link, #campanita {
    border-bottom: 3px ridge transparent;
    float: right;
    border-radius: 0;
    color: white;
  }
  
  .nav-link:hover {
    border-bottom: 3px ridge var(--celeste);
    transition: 0.5s;
  }
  
  /* Gral. */
  
  h1,
  h4,
  h5 {
    color: #6b7ca0;
    margin: 0;
  }
  
  svg {
    color: var(--azul);
  }
  
  .headers {
    margin: 1rem auto;
  }
  
  .fondo {
    background-color: #111827;
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    margin: auto;
  }
  
  /* Contacto */
  
  .modal-header {
    border-bottom: 2px solid var(--gris);
  }
  
  .modal-content {
    background-color: var(--semi-oscuro);
  }
  
  #contacto-label {
    margin: 0;
  }
  
  #formContacto {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
  }
  
  .inputFormContacto {
    background-color: var(--oscuro);
    color: var(--gris);
    text-align: center;
    border: 1px solid var(--azul);
  }
  
  /* Notificaciones */
  
  .offcanvas-header {
    background-color: var(--oscuro);
  }
  
  #notificaciones {
    background-color: var(--azul-oscuro);
  }
  
  .list-group-item {
    margin-bottom: 10px;
    background-color: var(--oscuro);
    color: white;
    border: 2px solid var(--gris);
    border-radius: 10px;
  }
  
  /* Carpetas */
  
  #carpetas-lista {
    list-style: none;
    color: white;
  }
  
  .alinearTexto, .carpetaIcon {
    display: inline;
    vertical-align: middle;
  }
  
  /* Main */
  
  #new-task-form {
    display: flex;
  }
  
  input,
  button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
  }
  
  #new-task-input {
    flex: 1 1 0%;
    background-color: var(--oscuro);
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--gris);
    font-size: 1.25rem;
    overflow-x: scroll;
  }
  
  #new-task-input::placeholder {
    color: var(--gris);
  }
  
  .submitButtonGradient {
    font-size: 1.25rem;
    font-weight: 700;
    background-color: var(--celeste);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .submitButtonGradient:hover {
    opacity: 0.8;
  }
  
  .submitButtonGradient:active {
    opacity: 0.6;
  }
  
  main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
  
  .task-list {
    padding: 1rem;
  }
  
  .task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--gris);
    margin-bottom: 1rem;
  }
  
  #tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--oscuro);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
  
  .task .content {
    flex: 1 1 0%;
  }
  
  .task .content .text {
    color: var(--gris);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
  }
  
  .task .content .text:not(:read-only) {
    color: var(--celeste);
  }
  
  .task .actions {
    display: flex;
    margin: 0 -0.5rem;
  }
  
  .task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
  }
  
  .task .actions button:hover {
    opacity: 0.8;
  }
  
  .task .actions button:active {
    opacity: 0.6;
  }
  
  .task .actions .editar {
    background-color: var(--celeste);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .task .actions .borrar {
    color: rgb(243, 121, 21);
  }
  
  /* Calendario */
  
  table {
    color: white;
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    table-layout: fixed;
  }
  
  th,
  td {
    border: 2px solid var(--gris);
    padding: 8px;
    text-align: center;
  }
  
  th {
    color: var(--azul)
  }
  
  .hoy {
    color: var(--celeste);
    font-weight: bolder;
  }
  
  /* Consejos */
  
  .consejo {
    margin-top: 25%;
    margin-bottom: 25%;
  }
  
  #consejo-texto {
    color: white;
  }
  .modal-header {
    border-bottom: 2px solid var(--gris);
  }
  
  .modal-content {
    background-color: var(--semi-oscuro);
  }
  
  #contacto-label {
    margin: 0;
  }
  
  #formContacto {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
  }
  .inputFormContacto {
    background-color: var(--oscuro);
    color: var(--gris);
    text-align: center;
    border: 1px solid var(--azul);
  }
  .offcanvas-header {
    background-color: var(--oscuro);
  }
  
  #notificaciones {
    background-color: var(--azul-oscuro);
  }
  
  .list-group-item {
    margin-bottom: 10px;
    background-color: var(--oscuro);
    color: white;
    border: 2px solid var(--gris);
    border-radius: 10px;
  }